html {
	box-sizing:border-box;
	-webkit-text-size-adjust:100%;
	text-size-adjust:100%;
	text-rendering:optimizeLegibility
}

html, body {
	height:100%; width: 100%; padding: 0px; margin: 0px;
}

div {
	box-sizing: border-box;
}

.window-title-bar {
	-webkit-app-region: drag;
}

.black {
	border: solid 2px black !important;
}

.white {
	border: solid 2px white !important;
}

.red {
	border: solid 2px red !important;	
}

.blue {
	border: solid 2px blue !important;	
}

.green {
	border: solid 2px green !important;	
}

.orange {
	border: solid 2px orange !important;	
}

.yellow {
	border: solid 2px yellow !important;	
}